<section id="open-gl-container"></section>

<section>
  <%# Hover Over Container%>
  <%= render partial: 'home/hover/top_left_box' %>
  <%= render partial: 'home/hover/bottom_left_box' %>
  <%= render partial: 'home/hover/right_box' %>
  <%= render partial: 'home/hover/top_box' %>
</section>

<%# Fix element on map%>
<span id="close-city-zoom">
  X CLOSE
</span>

<%= render partial: 'popover' %>
<%= render partial: 'js_templates/area_info' %>

<script type="text/javascript">
  SEARCHED_GEO = {
    city: "<%= @geo %>",
    type: "<%= @type %>"
  };

  $('.logo-image-wrap').click(function(){
    $('#box-bottom-left').toggleClass('active');
    $('#box-right').toggleClass('active');
  });

  $('#box-top .item').click(function(){
    $('#box-top .item').removeClass('selected');
    $(this).addClass('selected');
  })



</script>
